:root {
    --primary-color:#136F63;
    --secondary-color: #8F754F;
    --accent1-color:   #38A700;
    --accent2-color:    #E9EDDE;
}

body{
    font-family: 'Roboto', Condensed;
    margin: 0px;
    padding: 0px;
    color: var(--primary-color);
}

header{
    background-color: var(--primary-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 100px auto 1fr ;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
	color: sandybrown;
	font-weight: 800;
	text-decoration: underline;
}

h2 {
    text-align: center;
}

section{
    padding: 20px;
}

section p {
    text-align: center;
}

.sociallinks a img {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 500%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

article{
    margin: 2rem 0;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.adventures figure {
    text-align: center;
    margin: 0;
}

.adventures figcaption {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color)
}

footer{
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer a img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    text-decoration: none;
}

footer a {
    text-decoration: none;
}