nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: whitesmoke;
    display: block;
    padding: 20px;
}

hi {
    color: rgb(1, 3, 94);
}

image {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(31, 30, 30);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid black;
    padding: 1em;
    background-color: #e6e6e6;
    color: #000000ef;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 3px solid #000;
    text-align: center;
}
